$background: linear-gradient(to top, #c4c5c7, #dcdddf, #ebebeb)
$background-fallback: #ebebeb

$module-background: hsla(0, 0%, 100%, 0.4)
$text-color: hsla(0, 0%, 0%, 0.9)

$toggle-color: hsl(0, 0%, 0%)
$toggle-opacity: 0.9

$shadow: 0 0 10px 2px hsla(0, 0%, 0%, 0.15)

$input-focus: hsla(0, 0%, 0%, 0.1)

body
  background: $background
  background-color: $background-fallback

body.light-mode
  color: $text-color

  svg
    fill: $text-color

    & > circle,
    & > rect
      color: $toggle-color
      fill: $toggle-color

  div.module
    background: $module-background
    box-shadow: $shadow

  img
    box-shadow: $shadow

  button
    background-color: $text-color
    color: $background-fallback

  select,
  input
    border-color: $text-color
    color: $text-color

    &:focus
      background-color: $input-focus

  div.news
    div.module-article
      border-color: $text-color

    a
      color: $text-color
