$divider-size: 5px;
$article-margin: 50px;
$date-margin-top: 5px;
$h1-font-weight: 600;
$date-font-weight: 400;
$desc-font-weight: 300;

div.news {
  div.module-article {
      border-top: $divider-size solid;
      padding: $article-margin 0;
  }

  a {
    text-decoration: none
  }

  h1 {
      font-size: 24px;
      text-align: left;
      margin: 0;
      padding: 0;
      font-weight: $h1-font-weight;

      svg {
        fill: none;
        height: 1em;
        position: relative;
        top: 4px;
      }
  }

  p {
    margin: 0
  }

  .pub {
      margin-top: 5px;
      margin-left: 20px;
      font-size: 13px;
      font-weight: $date-font-weight;
      text-align: left;
  }

  .desc {
      font-size: 16px;
      font-weight: $desc-font-weight;
      text-align: left;
      padding: 0 20px;
  }

  img {
      max-width: 75%;
      height: auto;
      margin: 30px auto;
      border-radius: 5px;
  }
}
