div.news {
    text-align: left;

  label {
      font-size: 14px;
      margin-left: 30px;

  }

  input {
      background-color: #ceddf5;
      border-radius: 5px;
      height: 25px;
      border: none;
  }

  select {
      margin: 3%;
  }
}
